@{
    ViewBag.Title = Resources.Titles.CONTACT;
}
<h2>@ViewBag.Title.</h2>

<a class="btn btn-dark" target="_blank" href="http://benhof.ca/">BenHof.ca</a>
<a class="btn btn-dark" target="_blank" href="https://www.linkedin.com/in/ben-hofstede-4b46089">LinkedIn</a>