#loadingspinner {
  /*display: none;*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 99999;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5); }
  #loadingspinner div {
    position: absolute;
    top: 0;
    bottom: 0; }
